@model IEnumerable<Pharmacy_System.Models.Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h2>Users</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Add New User</a>
</p>
<table class="table">
    <thead>
        <tr class="tableTopBackColor tblHeadingCenter">
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                    <a class="btn btn-info ListActionBtn"  asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a class="btn btn-success listDetailsbtn ListActionBtn" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a class="btn btn-danger ListActionBtn" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
